[DEFAULT]
VARIABLE_LOWER_BOUND = -1e15
VARIABLE_UPPER_BOUND = 1e15

[TRAINED_MODELS]
LOCAL = False
URL = https://github.com/nariaki3551/flopt_trained_model/releases/download/v0.5.6.0/
CACHE = flopt.trained_models
NONLINEAR_FILE = nonlinear.model.pickle.tar.gz
NONLINEAR_MIP_FILE = nonlinear_mip.model.pickle.tar.gz
ISING_FILE = ising.model.pickle.tar.gz
NONLINEAR_SHA256 = 549c166bcaf7c8a8822bdecfebea613204e0c71955895026e1eb901b60d7e115
NONLINEAR_MIP_SHA256 = 6cd92b15af3c29a8b192e7a68951cf34816619d387ceb701c833737118619b78
ISING_SHA256 = 1ddb18e57bde59da2fd9db2f764d244886470da7cf91d4e256438839a95e0305
